@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

body {
    background-color: #CDD4D4 !important;
}

h1,
h2,
h4,
h5,
h6 {
    text-align: center !important;
    color: #065C5C !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px !important;
    font-weight: 800;
    margin-top: 30px !important;
}

h3 {
    text-align: center !important;
    color: #0AA8A8 !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px !important;
    font-weight: 800;
    margin-top: 150px !important;
    margin-bottom: 150px !important;
}

p {
    text-align: center !important;
    color: black !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px !important;
    font-weight: 800;
    margin-top: 100px !important;
    margin-bottom: 30px !important;
}

input, form {
    margin: 0 auto !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.color{
    color: red !important;
}